<div class="container-fluid footer mt-5">
  <div class="row">
    <div class="col-lg-4">
      <h1>ResponsiveTaste</h1>
      <p>YUMMY FOOD,TASTY FOOD</p>
    </div>
    <div class="col-lg-4" style="margin-top: 5px">
      <a routerLink="">Home</a>
      <a routerLink="menu">Menu</a>
      <a routerLink="contact">About</a>
      <a routerLink="about">Contact</a>
    </div>
    <div class="col-lg-4" style="margin-top: 5px">
      <a href="" target="_blank"><fa-icon [icon]="facebook"></fa-icon></a>
      <a href="" target="_blank"><fa-icon [icon]="instagram"></fa-icon></a>
      <a href="" target="_blank"><fa-icon [icon]="watssap"></fa-icon></a>
      <a href="" target="_blank"><fa-icon [icon]="youtube"></fa-icon></a>
    </div>
  </div>
</div>
